
.fpp_modal {
    /* Hidden by default */
    display: none;
    position: fixed;
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black background with some opacity */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px 20px 20px 20px;
        border: 1px solid #888;
        width: 80%; /* Could be responsive */
        max-width: 500px;
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        position: relative;
    }

    .close-btn {
        position: absolute;
        right: 15px;
        top: 10px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        text-decoration: none; /* Remove default link underline */
    }

    .close-btn:hover,
    .close-btn:focus {
        color: #000;
        cursor: pointer;
    }

    .modal-header, .modal-footer {
        padding: 2px 16px;
    }

    .modal-body {padding: 2px 16px;}
}